body{
    text-align: center;
    background-color:aqua;
}

h1{color:blue;}

p{color:rgb(1, 179, 119);}

img{
    font-size: x-large;
    border: 6px solid rgb(129, 5, 81);
}

#Bon{
    font-size: x-large;
    color:rgb(1, 179, 119);
    background-color:blueviolet;
    border: 2px solid rgb(227, 65, 233);
    border-radius: 20px;
}