*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    margin: 10px;
}

.homeMenu{
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: red;
}

.homeMenu a{
    width: 200px;
    height: 200px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 98px;
}

ul li a{
    text-decoration: none;
}


.gov{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.gov a{
    text-decoration: none;
}
