/* global setings */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body */
body{
  background-color: gray;
}

/* navBar */
.navBar{
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  top: 0;
  right: 0;
  background-color: black;
}

.navMenu{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52em;
  height: 70px;
  top: 0;
  right: 0;
  background-color: black;
}

.nav-toggle{
  position: fixed;
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 1em;
  top: 0;
  right: 0;
}

.bar{
  display: block;
  width: 2em;
  height: 0.2em;
  margin: 0.5em auto;
  background: white;
  transition: all 0.3s ease-in-out;

}

ul{
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

ul li{
  list-style: none;
  margin-left: 12em;
}

header h1{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items:center;
  left: 0;
  margin-left: 2em;
  color: rgb(80, 194, 194);
}


ul li a{
  text-decoration: none;
  color: white;
  transition: 0.5s ease-in-out;
}

ul li a:hover{
  color: cyan;
}

main{
  margin: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* responsive setings*/
@media(max-width: 990px){

.navMenu{
  display: none;
  width: 10em;
  height: 100%;
}

.navMenu.active{
  display: flex;
}

  ul{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    margin-top: 7em;
    margin-right: 3em;
}

ul li{
  list-style: none;
  display: flex;
  margin-bottom: 4.5em;
}

.nav-toggle{
  display: block;
  z-index: 999;
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.nav-toggle.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
}